@model KirilsShop.Models.ViewModels.FilterVM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link href="site.css" rel="stylesheet" />
    <link href="queries.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,400&display=swap"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Rubik:ital,wght@0,500;0,700;1,400&display=swap"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous" />

</head>
<body style="
      margin: 0;
     
      display: flex;
      flex-direction: column;
      min-height: 100vh;    
    ">
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Cars" asp-action="CreateView"> Create</a>
    }

    <div class="d-flex justify-content-around" style="align-items: flex-start;">
        
        <section class="d-flex flex-column m-5 bg-custom-gray p-5" style="max-width:400px ">
            <form asp-controller="Cars" asp-action="Index" method="post">

                <h5>Filter by</h5>

                <div class="d-flex flex-column">
                    <button class="btn btn-light m-3" type="button" onclick="toggleCheckboxes('brandsContainer')">Brands</button>
                    <div class="checkbox  my-5" id="brandsContainer" style="display:none;">
                        @foreach (var option in Model.BrandList)
                        {
                            <div class="list-items">
                                <input asp-for="@option.IsChecked" type="checkbox" value="@option.Id" name="SelectedBrands" id="@option.Id" checked="@option.IsChecked" />
                                <label class="cat-item" asp-for="@option.IsChecked " >
                                    @option.Name
                                </label>
                            </div>
                        }

                    </div>

                    <button class="btn btn-light  m-3" type="button" onclick="toggleCheckboxes('modelsContainer')">Models</button>
                    <div class="checkbox  my-5" id="modelsContainer" style="display:none;">
                        @foreach (var option in Model.ModelList)
                        {
                            <div class="list-items">
                                <input asp-for="@option.IsChecked" type="checkbox" value="@option.Id" name="SelectedModels" id="@option.Id" checked="@option.IsChecked" />
                                <label class="cat-item" asp-for="@option.IsChecked">
                                    @option.Name
                                </label>
                            </div>
                        }

                    </div>

                    <button class="btn btn-light  m-3   " type="button" onclick="toggleCheckboxes('bodiesContainer')">Bodies</button>
                    <div class="checkbox  my-5" id="bodiesContainer" style="display:none;">
                        @foreach (var option in Model.BodyList)
                        {
                            <div class="list-items">
                                <input asp-for="@option.IsChecked" type="checkbox" value="@option.Id" name="SelectedBodies" id="@option.Id" checked="@option.IsChecked" />
                                <label class="cat-item" asp-for="@option.IsChecked">
                                    @option.Name
                                </label>
                            </div>
                        }

                    </div>

                    <button class="btn btn-light  m-3   " type="button" onclick="toggleCheckboxes('colorsContainer')">Colour</button>
                    <div class="checkbox  my-5" id="colorsContainer" style="display:none;">
                        @foreach (var option in Model.ColorList)
                        {
                            <div class="list-items">
                                <input asp-for="@option.IsChecked" type="checkbox" value="@option.Id" name="SelectedColors" id="@option.Id" checked="@option.IsChecked" />
                                <label class="cat-item" asp-for="@option.IsChecked">
                                    @option.Name
                                </label>
                            </div>
                        }

                    </div>
                    <button class="btn btn-light  m-3   " type="button" onclick="toggleCheckboxes('fuelContainer')">Fuel</button>
                    <div class="checkbox  my-5" id="fuelContainer" style="display:none;">
                        @foreach (var option in Model.FuelList)
                        {
                            <div class="list-items">
                                <input asp-for="@option.IsChecked" type="checkbox" value="@option.Id" name="SelectedFuels" id="@option.Id" checked="@option.IsChecked" />
                                <label class="cat-item" asp-for="@option.IsChecked">
                                    @option.Name
                                </label>
                            </div>
                        }

                    </div>
                    <button class="btn btn-light  m-3   " type="button" onclick="toggleCheckboxes('originContainer')">Origin</button>
                    <div class="checkbox  my-5" id="originContainer" style="display:none;">
                        @foreach (var option in Model.OriginList)
                        {
                            <div class="list-items">
                                <input asp-for="@option.IsChecked" type="checkbox" value="@option.Id" name="SelectedOrigins" id="@option.Id" checked="@option.IsChecked" />
                                <label class="cat-item" asp-for="@option.IsChecked">
                                    @option.Name
                                </label>
                            </div>
                        }

                    </div>
                    <button class="btn btn-light  m-3   " type="button" onclick="toggleCheckboxes('yopsContainer')">Year of production</button>
                    <div class="checkbox  my-5" id="yopsContainer" style="display:none;">
                        @foreach (var option in Model.YOPList)
                        {
                            <div class="list-items">
                                <input asp-for="@option.IsChecked" type="checkbox" value="@option.Id" name="SelectedYOPs" id="@option.Id" checked="@option.IsChecked" />
                                <label class="cat-item" asp-for="@option.IsChecked">
                                    @option.Name
                                </label>
                            </div>
                        }

                    </div>
                    <input type="submit" value="Search">

                    <script>
                        function toggleCheckboxes(containerId) {
                            var checkboxContainer = document.getElementById(containerId);
                            checkboxContainer.style.display = (checkboxContainer.style.display === 'none') ? 'block' : 'none';
                        }
                    </script>
                </div>
                
            </form>

        </section>



        <section class="container d-flex mx-5" style="   max-height: 50rem;">
            
               
                @foreach (var item in Model.Cars)
                {
                <div class="card shadow mx-3" style="width: 18rem; max-height: 50rem;">
                        
                        <a class="" asp-controller="Cars" asp-action="Details" asp-route-id="@item.id">
                            <div class="bg-custom-gray h-10">
                                <img class="card-img-top " src="@(string.IsNullOrEmpty(item.CoverImageUrl) ? "/images/noimage.png" : item.CoverImageUrl)" />
                            </div>
                            
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">  @item.Brand.Name  @item.Model.Name</h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> @item.Mileage Km</li>
                            <li class="list-group-item">@item.Fuel.Name</li>
                            <li class="list-group-item"> @item.Performance Hp</li>
                        </ul>
                        <div class="card-body">
                            <a asp-controller="Cars" asp-action="Details" asp-route-id="@item.id"> Details</a>
                            <a asp-controller="Orders" asp-action="AddItemsToCart" asp-route-id="@item.id"> Buy</a>


                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Cars" asp-action="Delete" asp-route-id="@item.id"> Delete</a>
                            <a asp-controller="Cars" asp-action="Edit" asp-route-id="@item.id"> Edit</a>



                        }
                            
                        </div>
                    </div>


                }
            </section>



        </div>
</div>
  

  

</body>
</html>
